body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    justify-items: center;
}

.form{

    display: grid;
}

.form input {
    padding: 1rem;
    margin: 1rem;
}

input:in-range{
    background-color: green;
}
input:out-of-range{
    background: red;
}


.form button {
    display: grid;
    justify-self: center;
    outline: none;
    padding: .7rem 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}